@use "./styles/variables" as *;

/* DO NOT DELETE * */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  color: $text;
  background-color: $background;
}
h1 {
  text-decoration: underline;
}
.content-container {
  padding-bottom: 150px;
  min-height: 100vh;
}
