@use "./variables" as *;

.onsite-card {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-family: $font;
  gap: 100;
}

.job-grid {
  justify-content: center;
  padding: 2.5em;
}

.remote-card {
  margin: 50px;
}
