@use "./variables" as *;

/* Navbar styles */
.nav-container {
  font-family: "Libre Baskerville", sans-serif !important;
}

.logo {
  height: 50px;
  width: 50px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  color: white;
  padding: 0 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  list-style: none;
  padding: 26px;
}

.navbar-brand a {
  text-decoration: none;
  color: white;
}

.navbar-brand h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem 0;
}
.navbar-links {
  display: flex;
  list-style: none; /* This removes the bullet points */
  margin: 0;
  padding: 0;
  font-size: 24px;
}
.navbar-links li {
  padding: 0 1rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 1rem 0;
  display: block;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: $secondary;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

/* Responsive designs */
@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: $primary;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 1000;
  }

  .navbar-links.open {
    max-height: 300px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-links li {
    text-align: center;
    padding: 0;
  }

  .navbar-links a {
    padding: 0.75rem 0;
  }

  .nav-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
  }

  .toggle-line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
  }

  @media (max-width: 768px) {
    .nav-toggle {
      display: flex;
      z-index: 1001;
    }

    /* Make sure navbar-links doesn't show by default on mobile */
    .navbar-links {
      display: none;
    }

    /* Show navbar-links when open class is applied */
    .navbar-links.open {
      display: flex;
      padding: 1rem 0;
    }

    /* Update these selectors to match the new class names */
    .toggle-line.open:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .toggle-line.open:nth-child(2) {
      opacity: 0;
    }

    .toggle-line.open:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}
